/* Colors */
$colores: (
primary: #e8e3e3,
secondary: #e8c6a4,
terciario: rgb(201, 168, 168),
alternative: #adade3,
text-color: #2b2b2b,
);

/* Spacings */
$espacios: (
spacing-large: 6rem,
spacing-medium: 2.4rem,
spacing-small: 2rem,
spacing-xsmall: 1rem,
);


/* Font-family */

$font-family: (
font-principal: "Merriweather" serif,
font-title: "Montserrat" sans-serif,
);


/* Font-Sizes */

$font-size: (
text-large: 5.2em,
text-extra-medium: 3.7em,
text-medium: 2.2em,
text-base: 1.6em,
text-small: 1.4em,
);


