@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300&display=swap");
:root {
  /* Colors */
  --primary: #f4f1f1;
  --secondary: #f9dbbd;
  --alternative: #adade3;
  --text-color: #2b2b2b;
  /* Spacings */
  --spacing-large: 6rem;
  --spacing-medium: 2.4rem;
  --spacing-small: 2rem;
  --spacing-xsmall: 1rem;
  /* Font-family */
  --font-principal: "Merriweather", serif;
  --font-title: "Montserrat", sans-serif;
  /* Font-Sizes */
  --text-large: 5.2em;
  --text-extra-medium: 3.7em;
  --text-medium: 2.2em;
  --text-base: 1.6em;
  --text-small: 1.4em;
}

/* /Estilos Globales/ */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-principal);
}

ul {
  list-style-type: none;
}